{% extends 'base.html' %}

{% block content %}

<h3>Edit your task here </h3>
<form action="{% url 'notifications:edit_task' task.id %}" method="POST">
    {% csrf_token %}
    <p>
        <label>Title: </label><br>
        <input type="text" name="task_title" value="{{task.title}}">
    </p>
    <p>
        <label>Description: </label><br>
        <textarea name="task_description" cols="30" rows ="5">{{task.description}}</textarea><br>
    </p>
    <button type="submit">Send</button>
</form>


{% endblock %}