<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>

<body>
	<h3>Adding new task </h3>
	<form action="{% url 'notifications.add_notification' task.id}" method="POST">
		{% csrf_token %}
		<input type="text" placeholder="Task title" name="name" ><br>
		<select name="select_urgency" rows="20">
			<option>minor</option>
			<option>major</option>
			<option>critical</option>
			</select><br>
		<textarea name="text" placeholder="Task description" cols="30" rows ="5"></textarea><br>
		<button type="submit">Send</button>

	</form>

{% if task_list %}
    <ul>
    {% for task in task_list %}
<!--    <li><a href="/notifications/{{ task.id }}/">{{ task.title }}</a></li> -->
        <li><a href="{% url 'notifications:detail' task.id %}">{{ task.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Not available at this moment.</p>
{% endif %}
</body>
</html>